:root {
    --light-purple: #9b59b6;
    --purple: #8e44ad;
    --bs-white: #DEE6E9;
    --dark-grey: #485460;
    --black: #23272A;
}

@font-face {
    font-family: Dense;
    src: url('../assets/fonts/Dense-Regular.otf');
}

@font-face {
    font-family: Big;
    src: url("../assets/fonts/BIG-JOHN.otf");
}

@font-face {
    font-family: Slim;
    src: url("../assets/fonts/Slim-Joe.otf");
}
@font-face {
    font-family: Antro;
    src: url("../assets/fonts/A");
}

body{
    background: url("../assets/backgrounds/wallpaper-2594020_mGfrOa0.jpg");
    /*background: var(--black);*/
    background-repeat: no-repeat;
    background-size: cover;
}

.nav-bar {
    padding-bottom: 0;
    text-align: right;
    width: 100%;
    position: fixed;
    z-index: 400;
    background: var(--dark-grey);
    border-top: var(--dark-grey);
}

.nav-logo {
    margin: 5px 10px;
    height: 55px;
}

.nav-logo :hover {

}
.name-header li {
    font-family: Big;
    font-size: 30px;
}

.nav-list {
    font-family: Slim;
}

.main-page-header {
    color: var(--purple);
    font-family: Antro;
}



