:root {
    --light-purple: #9b59b6;
    --purple: #8e44ad;
    --bs-white: #DEE6E9;
    --dark-grey: #485460;
    --black: #23272A;



    /*-------------*/

    /*Rock Salt*/
    /*Saira Extra Condensed*/
    /*Permanent Marker*/
    /*Architects Daughter*/
    /*Just Another Hands*/
    /*Julius Sans One*/
    /*Amatic SC*/

}

@font-face {
    font-family: Dense;
    src: url('../assets/fonts/Dense-Regular.otf');
}

body {
    height: 680px;
    background: url("../../bracket-studio-website/img/backgrounds/grey-gradient.png");
}

li {
    list-style: none;
}

.first-name-header {
    color: var(--bs-white);
    font-size: 50px;
    font-family: 'Quicksand';
    font-weight: 300;
    letter-spacing: 25px;
    -webkit-animation-name: animate-opacity; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: animate-opacity;
    animation-duration: 3.5s;
    opacity: 1.0;
}

.last-name-header {
    color: var(--bs-white);
    font-size: 50px;
    font-family: 'Quicksand';
    letter-spacing: 10px;
    font-weight: 700;
    letter-spacing: 10px;
}

.logo-menu .dots-outer {
    height: 200px;
    width: 200px;
    transition: 3s;
    z-index: 10;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation: spin 8s linear infinite;
    -moz-animation: spin 8s linear infinite;
    animation: spin 8s linear infinite;
}

.logo-menu .dots-middle {
    z-index: 3;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation: spin 6s linear infinite;
    -moz-animation: spin 6s linear infinite;
    animation: spin 6s linear infinite;
    transition: 2.5s;
}

.logo-menu .dots-inner {
    z-index: 2;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation: spin 5s linear infinite;
    -moz-animation: spin 5s linear infinite;
    animation: spin 5s linear infinite;
    transition: 2s;
}

.logo-menu img {

    z-index: 0;
    height: 200px;
    width: 200px;
    -webkit-animation: spin 7s linear infinite;
    -moz-animation: spin 7s linear infinite;
    animation: spin 7s linear infinite;

}

.spacer-row {
    height: 250px;
}

.enter-clicked.logo-menu {
    -webkit-animation: spin 2s linear 1;
    -moz-animation: spin 2s linear 1;
    animation: spin 2s linear infinite;



}

.enter-button:hover{
    color: black;
    border: 4px solid black;
    background: rgba(222, 230, 233, 0.8);
    transition: 500ms;
}

.enter-button {
    z-index: 30;
    border: 4px solid transparent;
    font-size: 50px;
    font-family: Dense;
    letter-spacing: 5px;
    font-weight: 200;
    padding: 0 20px;
    margin-top: 55px;
    margin-left: 140px;
    margin-right: 140px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    color: var(--bs-white);
    transition: 500ms;

}

@keyframes animate-opacity {
    from {

        opacity: 0;
        position: relative;


    }
    to {
        opacity: 1;
        position: relative;
    }
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }

@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }
