:root {
    --red: #ff3f34;
    --light-purple: #9b59b6;
    --purple: #8e44ad;
    --bs-white: #DEE6E9;
    --dark-grey: #485460;
    --black: rgb(35, 39, 42);
}

@font-face {
    font-family: Dense;
    src: url('../assets/fonts/Dense-Regular.otf');
}

@font-face {
    font-family: Big;
    src: url("../assets/fonts/BIG-JOHN.otf");
}

@font-face {
    font-family: Slim;
    src: url("../assets/fonts/Slim-Joe.otf");
}

@font-face {
    font-family: Antro;
    src: url("../assets/fonts/Antro_Vectra_Bolder.otf");
}

@font-face {
    font-family: Sunset;
    src: url("../assets/fonts/The-Sunset.ttf");
}

@font-face {
    font-family: Stingray;
    src: url("../assets/fonts/Stingray.otf");
}

@font-face {
    font-family: Mac;
    src: url("../assets/fonts/White-Mackintosh.ttf");
}

.grayscale {
    filter: grayscale(100%);
}

.logo {
    height: 80px;
    margin: 10px;
}

.skills-icons hr {
    width: 65%;
}

.skills-icons i {
    /*border: solid black 2px;*/
    /*border-radius: 100000px;*/
    margin: 10px;
    padding: 10px;
    font-size: 110px;
    padding: 10px;
    text-shadow: 5px 5px 5px #222;
}

.skills-icons img {
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
    height: 65px;
    text-shadow: 4px 2px black;
}

.btn-floating {
    border: solid white 2px;
    background: transparent;
}

.contact-icons {
    font-family: Slim;
}

.sidenav-trigger {
    padding-top: 10px;

}

i.material-icons {
    margin: 10px;
}

#nav-mobile {
    display: none;
}

.spacer-row {
    height: 40px;
}

.name-header p {
    color: var(--bs-white);
    height: 68px;
    margin: 0;
    font-family: Big;
    font-size: 90px;
    transition: 300ms;
}

.name-header a {
    color: white;
    transition: 400ms;
}

.name-header a:hover {
    color: var(--black);
    margin: 0;
    /*letter-spacing: 80px;*/
    /*font-size: 90px;*/
    transition: 400ms;
}

.first-name {
    font-family: Slim;
}

#last-name {
    padding-left: 153px;
}

.nav-bar.row {
    height: 120px;
    padding-bottom: 0;
    width: 100%;
    z-index: 400;
    background: rgba(35, 39, 42, 1);
    position: absolute;
    bottom: 0;
    margin: 0;
}

.navbar-fixed {
    top: 0;
    z-index: 100;
    position: fixed;
    width: 100%;
    margin: 0;
}

#about {
    display: block;
    color: var(--black);
    height: 140px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 120px;
    font-family: Mac;
}

.about-me {
    text-align: right;
    font-size: 30px;
    font-weight: bolder;
    font-family: Slim;
}

.nav-list li a {
    margin: 30px;
    font-size: 20px;
    color: var(--bs-white);
    letter-spacing: 2px;
    font-family: Slim;
}

.carousel {
    background: transparent;
    height: 700px;
}

.collapsible {
    display: none;
    margin: 10px;
}

.carousel-item{
    overflow-y: auto;
}

.resume-png {

    max-width:65%;
    max-height:65%;

}

#carousel-title {
    margin: 94px 0 10px;
    font-size: 120px;
    font-family: Mac;
    letter-spacing: 2px;
    text-shadow: 4px 2px black;
}

/*PARALLAX*/

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

.parallax-1 {
    overflow: hidden;
    z-index: 100;

    background: url("../assets/backgrounds/ElegantBackground.jpg");
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.parallax-2 {
    z-index: 100;

    background: url("../assets/backgrounds/wallpaper-2594020_mGfrOa0.jpg");
    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (max-width: 600px) {

    #carousel-title {
        margin: 110px 0 10px;
        font-size: 90px;
        font-family: Mac;
        letter-spacing: 2px;
        text-shadow: 4px 2px black;
    }

    #last-name, #first-name {
        font-size: 70px;
        text-align: center;
        padding-left: 0px;
    }

    #nav-bar {
        height: 90px;
        display: none;
    }

    #nav-mobile {
        z-index: 100;
        position: fixed;
        height: 80px;
        display: block;
        background: rgba(35, 39, 42, 1);
    }

    #about {
        height: 90px;
        font-size: 90px;
        margin-bottom: 10px;
    }

    .sidenav {
        background: #485460;
    }

    .sidenav li a{
        color:var(--bs-white);
        font-family: Slim;
        font-size: 25px;
    }
    i.material-icons {
        margin: 0 10px 0;
    }

    .skills-icons i {
        /*border: solid black 2px;*/
        /*border-radius: 100000px;*/
        padding: 10px;
        font-size: 45px;
        text-shadow: 5px 5px 5px #222;

    }

    .skills-icons img {
        -webkit-filter: drop-shadow(5px 5px 5px #222);
        filter: drop-shadow(5px 5px 5px #222);
        height: 25px;
        text-shadow: 4px 2px black;
    }
    .resume-png {

        max-width:70%;
        max-height:70%;

    }

    .collapsible {
        font-family: Big;
        color: #23272A;
        display: block;
        margin: 10px;
    }

    .collapsible-header {
        font-size: 18px;
    }

    .collapsible-body {
        font-family: Slim;
        background: rgba(0, 0, 0, .6);
        color: white;
        letter-spacing: 2px;
    }

    .fa-github {

        color: white;
        margin-top: 15px;
        font-size: 50px;
    }

    .spacer-row {
        height: 70px;
    }

    .logo {
        margin: 3px;
        height: 70px;
    }

    .background, .nav-background {
        background: url("../assets/backgrounds/codeup-mug.jpg");
        background-size: cover;
    }

    .name {
        font-family: Big;
    }

    .email {
        letter-spacing: 1px;
        font-family: Slim;
    }

    .about-me {
        text-align: center;
        font-size: 20px;
    }
}

/*TEST TEST TEST*/


